<?xml version="1.0" encoding="utf-8"?>
<PerplexUmbracoFormsConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <HideFieldTypes>
    <FieldType name="Perplex File Upload" guid="3e170f26-1fcb-4f60-b5d2-1aa2723528fd" hide="false" />
    <FieldType name="Perplex Image Upload" guid="11fff56b-7e0e-4bfc-97ba-b5126158d33d" hide="false" />
    <FieldType name="Perplex Text field" guid="9ead6835-57db-418b-ae2b-528f8db375a0" hide="false" />
    <FieldType name="Perplex Textarea" guid="8c38cb28-8018-4545-b939-d1166a96b916" hide="false" />
    <FieldType name="Perplex Recaptcha" guid="9c804aa5-d7d6-42d8-b492-2e0e196331ad" hide="false" />
    <FieldType name="Checkbox" guid="d5c0c390-ae9a-11de-a69e-666455d89593" hide="false" />
    <FieldType name="Date" guid="f8b4c3b8-af28-11de-9dd8-ef5956d89593" hide="false" />
    <FieldType name="Dropdown" guid="0dd29d42-a6a5-11de-a2f2-222256d89593" hide="false" />
    <FieldType name="Short answer" guid="3f92e01b-29e2-4a30-bf33-9df5580ed52c" hide="true" />
    <FieldType name="Long answer" guid="023f09ac-1445-4bcb-b8fa-ab49f33bd046" hide="true" />
    <FieldType name="File upload" guid="84a17cf8-b711-46a6-9840-0e4a072ad000" hide="true" />
    <FieldType name="Password" guid="fb37bc60-d41e-11de-aeae-37c155d89593" hide="false" />
    <FieldType name="Multiple choice" guid="fab43f20-a6bf-11de-a28f-9b5755d89593" hide="false" />
    <FieldType name="Single choice" guid="903df9b0-a78c-11de-9fc1-db7a56d89593" hide="false" />
    <FieldType name="Title and description" guid="e3fbf6c4-f46c-495e-aff8-4b3c227b4a98" hide="false" />
    <FieldType name="Recaptcha" guid="4a2e8e12-9613-4720-9bcd-f9871262d6ac" hide="true" />
  </HideFieldTypes>
  <PerplexFileUpload>
    <AllowedExtensions>
      <Extension>doc</Extension>
      <Extension>docx</Extension>
      <Extension>pdf</Extension>
      <Extension>xls</Extension>
      <Extension>xlsx</Extension>
      <Extension>zip</Extension>
      <Extension>rar</Extension>
      <Extension>txt</Extension>
    </AllowedExtensions>
    <MaxFileSize />
  </PerplexFileUpload>
  <PerplexImageUpload>
    <AllowedExtensions>
      <Extension>jpg</Extension>
      <Extension>jpeg</Extension>
      <Extension>png</Extension>
      <Extension>gif</Extension>
      <Extension>tif</Extension>
    </AllowedExtensions>
    <MaxFileSize />
  </PerplexImageUpload>
  <PerplexRecaptchConfig>
    <ErrorMessage>Please verify you are not a robot</ErrorMessage>
  </PerplexRecaptchConfig>
</PerplexUmbracoFormsConfig>